/*  -----   css reset   ----- */
/* to do:
     
      1. css reset for buttons(remove default browser styling)
      2. 
*/

button {
  /* insert 1 here */
  border:none;
  
}

a {
	display: inline-block;
	padding: 10px;
	color: white;
	margin-top: 30px;
}

a.deep-purple:hover {
	background-color: #9575cd  !important; /*deep-purple lighten-2*/
}

.login {
   float: right;
}

#login-buttons a{
   text-decoration: none;
   color: black;
   text-transform: uppercase;
}

#login-dropdown-list{
	top: 100px;
	right: 150px;
}

#login-buttons .login-close-text {
	float: right;

}

#login-dropdown-list .login-form label{
	text-transform: uppercase;
	font-family: Roboto;
	color: #673ab7;
}


#login-buttons .login-button{
    background-color: #b2ff59;
    border: #b2ff59;
    width: 80%;
    margin: 0 auto;
    color: black;
    text-transform: uppercase;
    font-family: Roboto;

}


#login-buttons a#signup-link{
	background-color: #b2ff59;
    border: #b2ff59;
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Roboto;
    float: none;
    font-size: 0.8em;

}
#login-buttons a#signup-link:hover,
#login-buttons a#back-to-login-link:hover,
#login-buttons .login-button:hover{
   background-color: #9575cd;
   transition: color 1s;
}




#login-buttons a#back-to-login-link{
	background-color: #b2ff59;
    border: #b2ff59;
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Roboto;
    float: none;
    font-size: 0.8em;
}



















/* -------------------------- move to homepace.css ------------*/

.homepage {
	font-family: 'Open sans';
	text-transform: uppercase;
	line-height: 0.9em;
	font-weight: bold;

	position: relative;
	height: 95vh;
}

.title {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title span {
	padding: 5px;
	border-radius: 3px;
}

/* --------------------------------------------------*/
/* -------------------------- move to discussion.css ------------*/
.username span,
.date-added span,
.comment span {
  padding: 10px 10px 5px 10px;
}

.date-added span{
  font-size: 1em;
}

.username span{
  font-size: 1.4em;
}

.comment span{
  font-size: 1.2em;
  padding: 20px;
}

.comment div {
  margin-top: 10px;
}


/*----------------general ---------- */
.back-btn{
  display: block;
  color: black;
}
.back-btn button{
  background-color: rgba(0,0,0,0);
}
.bottom-whitespace{
  height: 50px;
}

a.close{
  margin-right: 15px;
  margin-top: 15px;
}

/*placeholder*/
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,*/
/*input[type="text"].custom-input::-webkit-input-placeholder*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ 
  color: #1a1a1a !important;
  font-style: italic;

  /*dark gray*/
}

.margin-top{
  margin-top: 20px;
}


/* ------------------- topics.css ----------------*/
.topic-card{
  cursor: pointer;
}
.owner span,
.tags span {
  font-size: 1.2em;
  padding: 5px 10px 5px 0px;
}
.chip{
  margin-top: 10px;
}

button.delete {
  float: right;
  background-color: rgba(0,0,0,0);
}

/*----------------------------------*/

/* ------------------- discussion.css ----------------*/
.delete.discussion {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.first-comment{
  font-size: 1.3em;
}

.sadface{
    padding-top: 10px;
    text-align: center;
    display: block;
}


/* ------------------- addNewComment.css ----------------*/
.add-new-comment{
  margin-top: 20px;
}

/* -------------------topicDetails.css ----------------- */
.topic-name div,
.tags div,
.owner div,
.created-at div{
  display: inline-block;
  margin: 10px;
}

.owner i{
  margin-right: 5px;
}

.topic-name .info,
.tags .info{
   margin-left: 100px;
   text-align: left;
}
.owner .info{
  margin-left: 80px;
  font-size: 1.1em;
}
.created-at .info{
  margin-left: 120px;
}



/*---------------------- spin transition -------------------*/
@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    5% {
        transform:rotate(360deg);
    }
    100%{
      transform:rotate(360deg);
    }
}
.spin-me {
  width: 50px;
  float:left;
  margin-top: 100px;
  margin-right: 30px;
    animation-name: spin;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spin-question{
  margin-top: 50px;
  margin-left: 30px;
  display: block;
}

/*other styles with ?*/
/*.spin-question{
  display: inline-block;
  margin-top: 20px;
}*/




.add-new-topic{
  margin-top: 50px;
}

.add-new-topic a.btn{
  margin-bottom: 20px;
}

/* ---------------- login notification ---------*/
.login-notification{
  font-size: 1.2em;

}
.login-notification .action{
  margin-left: 30px;
  margin-top: -20px;
}


/* ------------- filter topics ----------- */
.filter-title{
  padding-bottom: 10px;
}