<a ui-sref="topics"
   class="btn-floating close right"><i class="fa fa-times" aria-hidden="true"></i></a>


<div ng-show="!$ctrl.currentUser">
You can only add new topics once logged in!

Do not have an account? Sign up here!
</div>


<!-- form to add new topics -->
<div class="add-new-topic">
	<form class="new-topic" ng-show="$ctrl.currentUser">
		<input ng-model='$ctrl.topicName' type='text' name='text' placeholder="Topic name"/>
		<input ng-model='$ctrl.topicTag' type='text' name='text' placeholder="Topic tag"/>
		<button ng-click='$ctrl.addTopic($ctrl.topicName,$ctrl.topicTag)'/>
	    Submit
		</button>
	</form>
</div>