<!-- filter forum topics -->
<!-- <label class="random-topics">
	<input type="checkbox" ng-model='$ctrl.random'/>
	Random
</label> -->


<!-- login buttons -->
<!-- <login-buttons></login-buttons>
 -->
<hr>
<a ui-sref='topics.add-topic'
   class="btn">
   <i class="fa fa-plus" aria-hidden="true"></i>
    Add a new topic
</a>

<ui-view></ui-view>


 
<ul>
	<li ng-repeat="topic in $ctrl.topics"
	    ui-sref="topic-details({topicId: topic._id})">
	    <div class="card topic-card">
            <div class="card-content black-text">

			   
			    <div class="name"><h3> {{topic.name}} </h3></div>

			     <div class="owner"> <span>Topic owner </span>{{topic.username}}</div>

			    <div class="tags"><span> Tags</span> </div>
			    <div class="chip">{{topic.tag}}</div>

			    <button class="delete" ng-click='$ctrl.removeTopic(topic)'>
				    <i class="fa fa-trash-o" aria-hidden="true"></i>
				    Delete topic
			    </button>

		    </div>
	    </div> 


    </li>
</ul>
