<!-- filter forum topics -->
<!-- <label class="random-topics">
	<input type="checkbox" ng-model='$ctrl.random'/>
	Random
</label> -->


<!-- login buttons -->
<!-- <login-buttons></login-buttons>
 -->

<!-- <a ui-sref='topics.add-topic'
   class="btn">
   <i class="fa fa-plus" aria-hidden="true"></i>
    Add a new topic
</a>

<ui-view></ui-view> -->
<div class="row filter-topics">
	<div class="col s12">
	  <div class="card deep-purple lighten-5">
	    <div class="card-content black-text">
	      <span class="card-title teal-text">Filter topics</span>
	    	<form>
	    	    <div class="row">
	    	        <div class="col s6">
	    	        <p class="filter-title">Filter options</p>
					<p ng-click="$ctrl.filterOptions('byMe')">
				        <input ng-model="$ctrl.addedByMe" type="checkbox" class="filled-in" id="added-by-me" checked="checked" />
			            <label for="added-by-me">Added by me</label>
			        </p>
					<p ng-click="$ctrl.filterOptions('thisMonth')">
				        <input type="checkbox" class="filled-in" id="this-month" checked="checked" />
			            <label for="this-month">Added this month</label>
			        </p>
			        <p ng-click="$ctrl.filterOptions('thisYear')">
				        <input type="checkbox" class="filled-in" id="this-year" checked="checked" />
			            <label for="this-year">Added this year</label>
			        </p>
			        </div>
			        <div class="col s6">
				        <p class="filter-title">Filter by time</p>
					    <p ng-click="$ctrl.sortByTime('newest')">
					      <input name="time" type="radio" id="new" />
					      <label for="new">Latest added</label>
					    </p>
					    <p ng-click="$ctrl.sortByTime('oldest')">
					      <input name="time" type="radio" id="old" />
					      <label for="old">Oldest</label>
					    </p>
				    </div>
		    </form>
	    </div>
	  </div>
	</div>
</div>


 
<ul>
	<li ng-repeat="topic in $ctrl.topicsToShow"
	    ui-sref="topic-details({topicId: topic._id})">
	    <div class="card topic-card">
            <div class="card-content black-text">

			   
			    <div class="name"><h3> {{topic.name}} </h3></div>

			     <div class="owner"> <span>Topic owner </span>{{topic.username}}</div>

			    <div class="tags"><span> Tags</span> </div>
			    <div class="chip">{{topic.tag}}</div>

			    <button class="delete" ng-click='$ctrl.removeTopic(topic)'>
				    <i class="fa fa-trash-o" aria-hidden="true"></i>
				    Delete topic
			    </button>

		    </div>
	    </div> 


    </li>
</ul>


<div class="add-new-topic">
    <h3>Didn't find what you were looking for? Make your own!</h3>
	<a ui-sref='topics.add-topic'
	   class="btn">
	   <i class="fa fa-plus" aria-hidden="true"></i>
	    Add a new topic
	</a>

	<ui-view></ui-view>
</div>
