<h1>{{$ctrl.topic.name}}</h1>


<div class="card deep-purple lighten-4">
    <!-- card content -->
    <div class="card-content black-text">
	    <p><b>topic name</b> {{$ctrl.topic.name}}</p>
		<p><b>topic tag</b> {{$ctrl.topic.tag}}</p>
		<p><b>topic created at</b> {{$ctrl.topic.createdAt}}</p>
		<p><b>topic owner</b> {{$ctrl.topic.username}}</p>
    </div>
    <!-- card action -->
    <div class="card-action">
        <a ui-sref="discussion({topicId: $ctrl.topic._id})">
		  See topic comments
		</a>  
    </div>
</div>    

<!-- <h2> details below </h2>
<p><b>topic name</b> {{$ctrl.topic.name}}</p>
<p><b>topic tag</b> {{$ctrl.topic.tag}}</p>
<p><b>topic created at</b> {{$ctrl.topic.createdAt}}</p>
<p><b>topic owner</b> {{$ctrl.topic.username}}</p>


<hr>

<a ui-sref="discussion({topicId: $ctrl.topic._id})">
  See topic comments
</a>   -->