<h1>{{$ctrl.topic.name}}</h1>

<!-- comments -->

<ul>
	<li ng-repeat="comment in $ctrl.discussions">
	    <div class="card">
            <div class="card-content black-text">
	            <!-- card content -->
			    <div class="username">
				    <i class="fa fa-user" aria-hidden="true"></i>
				    <span>{{ comment.username }}</span>
			    </div>
			    <div class="date-added">
				    <i class="fa fa-calendar" aria-hidden="true"></i><span>{{ comment.dateAdded }}</span>
			    </div>
			    <hr>
				<div class="comment">
					<i class="fa fa-comment" aria-hidden="true"></i><span>Commented</span>
					<div>{{ comment.comment }}</div>
				</div>
				<!-- delete -->
				<!-- ng-if current username = username -->
				<button class="discussion delete" ng-click='$ctrl.removeComment(comment)'>
				    <i class="fa fa-trash-o" aria-hidden="true"></i>
				    Delete comment
		        </button>
			</div>
		</div>
	</li>
</ul>


<!-- add comment button -->
<a ui-sref="discussion.add-comment"
   class="btn">
      <i class="fa fa-plus" aria-hidden="true"></i>
    Add a comment
</a>

<!-- display view -->
<ui-view></ui-view>

<div class="bottom-whitespace"></div>


